.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;

    :first-child {
      font-weight: 600;
      line-height: 0.5;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}
